table.detail-view th {
    width: 25%;
}

table.detail-view td {
    width: 75%;
}

@media (max-width: 600px) {
    table.detail-view th {
        width: 30%;
    }
    
    table.detail-view td {
        width: 70%;
    }    
}
